# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Ignore notebooks and checkpoints
*.ipynb
.ipynb_checkpoints/

# Ignore Git
.git/
.gitignore

# Ignore HuggingFace downloaded models if present
*.pth
*.pt

# Ignore virtual envs
venv/
env/
ENV/

